.main_menu_conteiner{
    -fx-background-color: #FFFFFF;
    -fx-alignment: center;
}

/* sezione logo & nome */
.conteiner_titolo{
    -fx-background-color: #62A4FB;
    -fx-alignment: top_center;
    -fx-padding: 10;
}

.conteiner_titolo Text{
    -fx-fill: #FFFFFF;
    -fx-font-size: 25px;
}

/* sezione bottoni menu */
.menu_container{
    -fx-padding: 10 10 10 20;
    -fx-spacing: 20;
}

.menu_container Button{
    -fx-pref-width: 240;
    -fx-pref-height: 50;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-size: 20px;
    -fx-alignment: center_left;
    -fx-border-color: #62A4FB;
}

.menu_container Button:hover{
    -fx-background-color: #62A4FB;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FFFFFF;
}

#button-logout:hover{
    -fx-background-color: #FF0000;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FF0000;
}

